/centipede/node_modules/*
/centipede/package.json
/centipede/package-lock.json

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar